<!-- Gismeteo informer START -->
<link rel="stylesheet" type="text/css" href="http://www.gismeteo.ru/static/css/informer2/gs_informerClient.min.css">
<div id="gsInformerID-ooqbpM602Tn0RR" class="gsInformer" style="width:120px;height:24px;">
    <div class="gsIContent">
        <div id="cityLink">
            <a href="http://www.gismeteo.ru/city/daily/4368/" target="_blank">Погода в Москве</a>
        </div>
        <div class="gsLinks" style='display:none'>
            <table>
                <tr>
                    <td>
                        <div class="leftCol leftColCenter">
                            <a href="http://www.gismeteo.ru/city/weekly/4368/" target="_blank">
                                <img alt="Gismeteo" title="Gismeteo" src="http://www.gismeteo.ru/static/images/informer2/logo-mini2.png" align="absmiddle" border="0" />
                                <span>Gismeteo</span>
                            </a>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<script src="http://www.gismeteo.ru/ajax/getInformer/?hash=ooqbpM602Tn0RR" type="text/javascript"></script>