{% extends "base_with_menu.html" %}

{%block content %}
	<div class='page_about'>
	<h4>Дорогие друзья!</h4>
<div class='text'>
<pre class='caption'>    Мы ждем вас на нашей фабрике дизайнерского искусства, где каждое изделие - это воплощение
вашей фантазии и нашего мастерства. 

    Мы к вашим услугам, когда вам ну просто необходимо что-то сногсшибательное, великолепное,
	умопомрачительное и необычное!</pre>
<span class='shadowed'>
<pre class='caption'>    Мы ждем вас на нашей фабрике дизайнерского искусства, где каждое изделие - это воплощение
вашей фантазии и нашего мастерства.

    Мы к вашим услугам, когда вам ну просто необходимо что-то сногсшибательное, великолепное,
	умопомрачительное и необычное!</pre>
</span>

</div>

        <div class='text'>
<pre>    Мы сделаем это для вас, если речь идет о:
 - танцевальном фраке, костюме или платье для спортивных бальных танцев, аргентинского 
   танго, восточных и гоу-гоу танцев, джаз-модерна, рок-н-ролла, фламенко
 - костюме для художественной гимнастики и фигурного катания
 - спортивной одежде для фитнеса и йоги
 - свадебном, вечернем или коктейльном платье
 - мужском костюме, смокинге или сорочке
 - платье для выпускного бала
 - костюме для театрального шоу, карнавала или концерта . . .

. . . или о: 
 - украшении или аксессуаре из текстиля, бисера, стразов, перьев и бус;
 - ручном декоре одежды (вышивка, расклейка камнями, стразами, стеклярусом);
 - авторской росписи на ткани, аксессуарах и одежде . . .

. . . или просто если вам снова нечего надеть. 

  даже если вы сами пока не понимаете, о чем конкретно идет речь, но чего-то
  явно не хватает для счастья. 

	Просто нам приятно исполнять ваши мечты и дарить вам хорошее настроение!</pre>
            <span class='shadowed'>
<pre>    Мы сделаем это для вас, если речь идет о:
 - танцевальном фраке, костюме или платье для спортивных бальных танцев, аргентинского
   танго, восточных и гоу-гоу танцев, джаз-модерна, рок-н-ролла, фламенко
 - костюме для художественной гимнастики и фигурного катания
 - спортивной одежде для фитнеса и йоги
 - свадебном, вечернем или коктейльном платье
 - мужском костюме, смокинге или сорочке
 - платье для выпускного бала
 - костюме для театрального шоу, карнавала или концерта . . .

. . . или о:
 - украшении или аксессуаре из текстиля, бисера, стразов, перьев и бус;
 - ручном декоре одежды (вышивка, расклейка камнями, стразами, стеклярусом);
 - авторской росписи на ткани, аксессуарах и одежде . . .

. . . или просто если вам снова нечего надеть.

  даже если вы сами пока не понимаете, о чем конкретно идет речь, но чего-то
  явно не хватает для счастья.

	Просто нам приятно исполнять ваши мечты и дарить вам хорошее настроение!</pre>
            </span></div>
	</div>
{% endblock %}