a {
  color: #741d10;
}
a:link,
a:visited {
  color: #741d10;
}
a:hover {
  color: #ff8c00;
}
body {
  background: url(/media/images/admin/bar_test.jpeg);
}
body div#container div#header {
  background: rgba(0, 0, 0, 0.6);
}
body div#container div#header #branding #site-name {
  color: rgba(170, 103, 43, 0.5);
}
body div#container div.breadcrumbs {
  background: rgba(0, 0, 0, 0.8);
  border-width: 0;
}
body div#container div.breadcrumbs  > a {
  color: #ff8c00;
}
body div#container div.breadcrumbs  > a:hover {
  color: white;
}
body div#container div#content {
  border: 2px solid orange;
  margin-top: 32px;
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.8);
}
body div#container div#content  > h1 {
  text-align: center;
  padding: 16px;
  padding-bottom: 46px;
  font-size: 1.8em;
  color: rgba(170, 103, 43, 0.5);
}
body div#container div#content .custom-module {
  float: left;
  width: 47%;
  display: block;
  margin: 0px;
  padding: 0px;
  height: 100%;
  min-height: 100%;
  background: rgba(170, 103, 43, 0.2);
  border: solid 1px #aa672b;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 1%;
  margin-right: 1%;
}
body div#container div#content .custom-module .custom-summary-table {
  background: transparent;
}
body div#container div#content .custom-module .custom-summary-table  > tbody > tr:hover {
  background: rgba(170, 103, 43, 0.5);
}
body div#container div#content .custom-module .custom-summary-table  > tbody > tr > th > a {
  display: inline-block;
  min-width: 250px;
}
body div#container div#content .custom-module .custom-summary-table  > tbody > tr > th > a:hover,
body div#container div#content .custom-module .custom-summary-table  > tbody > tr > td > a:hover {
  color: #ffdddd;
}
body div#container div#content .custom-table,
body div#container div#content .custom-row {
  float: left;
  width: 100%;
  position: relative;
}
body div#container div#content .custom-table.custom-last-row,
body div#container div#content .custom-row.custom-last-row {
  margin: 0px;
}
body div#container div#content .custom-table.custom-last-row .custom-module,
body div#container div#content .custom-row.custom-last-row .custom-module {
  width: 96.2%;
}
body div#container div#content .custom-caption {
  background: #aa672b;
  line-height: 30px;
  padding-right: 12px;
  text-align: right;
}
body div#container div#content .custom-caption img {
  float: left;
  width: 16px;
  height: 16px;
  margin-top: 7px;
  margin-left: 3px;
  display: none;
}
body div#container div#content .custom-caption a {
  font-weight: bold;
  cursor: default;
  color: #ffdddd;
  margin: auto;
}
body div#container div#content #recent-actions-module {
  position: relative;
  float: right;
  width: 210px;
  top: -102px;
  border: solid 1px orange;
}
body div#container div#content #recent-actions-module h2 {
  background: #aa672b;
  color: #ffdddd;
  text-align: center;
  vertical-align: middle;
}
body .row1 {
  background-color: rgba(170, 103, 43, 0.1);
}
.dashboard div#container #content {
  margin-left: auto !important;
  margin-right: auto !important;
  width: auto;
  max-width: 960px;
}
.plugin-editor iframe {
  height: 800px !important;
}
