{% extends "base_with_menu.html" %}

{%block content %}
	<div class='page_about'>
	<h4>Дорогие друзья!</h4>
<div class='text'>
<pre class='caption'>    У нас давно была мечта о райском месте, где будет по-настоящему комфортно заниматься
 любимым делом, куда будет всем удобно добираться, где будет собираться много
 творчески мыслящих и активных людей, где можно будет придумывать что-то новое,
 обмениваться мечтами и воплощать их!</pre>
<span class='shadowed'>
<pre class='caption'>    У нас давно была мечта о райском месте, где будет по-настоящему комфортно заниматься
 любимым делом, куда будет всем удобно добираться, где будет собираться много
 творчески мыслящих и активных людей, где можно будет придумывать что-то новое,
 обмениваться мечтами и воплощать их!</pre>
</span>

</div>

        <div class='text'>
<pre>    Теперь у нас и у вас, наши друзья, есть для этого все необходимое: три уютных зала с
 раздевалками и профессиональное ателье. Все расположено очень компактно и уютно,
 здесь много света и воздуха, всегда есть настроение и вдохновение для новых идей, а
 главное - возможность для их воплощения!

    Здесь вас ждут встречи с сальсой, аргентинским танго, восточным танцем, клубной
 латиной, спортивными бальными танцами и не только! Следите за новостями!

Мы рады всем: вы сможете провести индивидуальные, практические и групповые
 занятия, мастер-классы, семинары, вечеринки и утренники, а также освоить
 новые танцевальные направления!



           Приходите в гости!</pre>
            <span class='shadowed'>
<pre>    Теперь у нас и у вас, наши друзья, есть для этого все необходимое: три уютных зала с
 раздевалками и профессиональное ателье. Все расположено очень компактно и уютно,
 здесь много света и воздуха, всегда есть настроение и вдохновение для новых идей, а
 главное - возможность для их воплощения!

    Здесь вас ждут встречи с сальсой, аргентинским танго, восточным танцем, клубной
 латиной, спортивными бальными танцами и не только! Следите за новостями!

Мы рады всем: вы сможете провести индивидуальные, практические и групповые
 занятия, мастер-классы, семинары, вечеринки и утренники, а также освоить
 новые танцевальные направления!



           Приходите в гости!</pre>
            </span></div>
	</div>
{% endblock %}